# Logs

*.log
npm-debug-log*

# Dependency directories

**/node_modules

# Visual studio code

.vscode

# Docker

.dockerignore

# Angular

.angular
public/src/environments/environment.*

# dotenv environment variables file

**/*.env

# Directories

**/certs*
**/db*
public/dist
oauth/dist
task/dist

# Files

**/*.txt
**/*.pem
**/nodemon.json
# /**/*.md





