<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo: Cambio de contraseña</title>
</head>
<body>
  <header>
    Estimado cliente:
  </header>
  <main>
    <section>
      <p>Hemos recibido información de que desea <b>modificar</b> su contraseña. Para modificarla, pulse el siguiente enlace:</p>
      <p><a href="https://antodo.local?user={{userData}}">PULSAR PARA MODIFICAR CONTRASEÑA</a><br><br></p>
      <p>Al pulsar en el anterior enlace, será redirigido al lugar donde podrá modificar su contraseña.</p>
      <p>Si hay algún problema no dude en contactar con nuestro equipo de ayuda al cliente.</p>
      <p>Que pase un buen día y saludos cordiales.</p><br>
    </section>
  </main>
  <footer>
    <p>Att. Equipo de desarrollo antodo.local</p>
  </footer>
</body>
</html>