<!-- 
  FIXME: Cambiar autocomplete del INPUT(email) a ON para Producción.
 -->

<an-todo-card-session [title]="title">
  <div class="mt-2 py-5 w-80 bg-white/50">
    <form [formGroup]="forgetEmailForm" novalidate>
      <div class="font-roboto text-sm pl-4" [ngStyle]="{'display': showEmail ? 'block' : 'none'}">
        <input 
          id="email" 
          type="text"
          formControlName="email" 
          autocomplete="off"
          placeholder="Email"
          spellcheck="false"
          class="block peer an-input"
          [ngStyle]="{'border-color': hasEmailError['email'] ? colors['red'] : null}"/> 
        <label for="email" class="relative an-label" [ngStyle]="{'color': hasEmailError['email'] ? colors['red'] : null}">Email</label>
        <div class="flex relative gap-2 items-center -top-5 invisible" [ngStyle]="{'visibility': hasEmailError['email'] ? 'visible' : null}">
          <div class="an-circulo text-xs ml-40 w-4 h-4 text-white bg-red-600">!</div>
          <div class="text-xs text-red-600">Error en Email</div>
        </div>
      </div>
      <div class="font-roboto text-sm pl-4" [ngStyle]="{'display': showEmail ? 'block' : 'none'}">
        <a routerLink="/signin" class="block mt-4">Iniciar sesión</a>
      </div>
      <div class="font-roboto text-sm pl-4" [ngStyle]="{'display': showPanel ? 'block' : 'none'}">
        <p>Recibirás un mensaje a esa dirección de correo para poder modificar tu contraseña.</p>
      </div>
    </form>
  </div>
  <div class="mt-3 w-[76px] bg-white/50 transition-colors hover:bg-white" [ngStyle]="{'display': showSend ? 'block' : 'none'}">
    <button class="pl-4 py-1" type="button" (click)="checkForm()">Enviar</button>
  </div>
</an-todo-card-session>